.AllPosts {
  max-width: 800px;
  margin: 20px auto;
}

.AllPosts h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.AllPosts .post {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.AllPosts .post-header {
  display: flex;
  justify-content: space-between;
}

.AllPosts .delete-button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.AllPosts .delete-button:hover {
  background-color: #cc4125;
}

.title-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-container {
  display: flex;
  align-items: center;
}

.filter-container label,
.filter-container select {
  margin-left: 10px;
}

.post-item {
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}

.post-title {
  margin-right: 20px;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff6347;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  margin:5px;
  width: 60px;
}
.delete-button:hover {
  background-color: #cc4125;
}
.post-category {
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
}
.likes-container {
  display: flex;
  align-items: center;
}

.likes {
  display: flex;
  align-items: center;
}

.likes span {
  margin-left: 0.5rem; /* Adjust the whitespace as needed */
}

.likes svg {
  font-size: 1.5rem; /* Adjust the size of the thumbs-up icon */
}

.like-button {
  background-color: #75c09c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  margin:5px;
  width: 60px;

  cursor: pointer;
}

.like-button:hover {
  background-color: #459770;
}


